<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Privacy Policy</title>
  <link rel="stylesheet" href="static/style.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a>
                </li>
                <li><a href="{{ url_for('portfolio') }}">Portfolio</a>
                </li>
                <li><a href="{{ url_for('services') }}">Services</a></li>
                <li><a href="{{ url_for('pricing') }}">Pricing</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a>
                </li>
            
            </ul>
        </nav>
    </header>

    <h1 class="terms-header">Terms & Conditions</h1>
  <div class="terms-content">
    <p>Welcome to SRV Studio!</p>
    <p>These terms and conditions outline the rules and regulations for the use of SRV Studio’s Website, located at https://srvstudio.com/.</p>
    <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use SRV Studio if you do not agree to take all of the terms and conditions stated on this page.</p>
    
    <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: “Client”, “You” and “Your” refers to you, the person log on this website and compliant to the Company’s terms and conditions. “The Company”, “Ourselves”, “We”, “Our” and “Us”, refers to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services, in accordance with and subject to, prevailing law of in. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>

    <h3>Cookies</h3>
    <p>We employ the use of cookies. By accessing SRV Studio, you agreed to use cookies in agreement with the SRV Studio’s Privacy Policy.</p>
    <p>Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.</p>

    <h3>License</h3>
    <p>Unless otherwise stated, SRV Studio and/or its licensors own the intellectual property rights for all material on SRV Studio. All intellectual property rights are reserved. You may access this from SRV Studio for your own personal use subjected to restrictions set in these terms and conditions.</p>

    <!-- Add more sections as needed -->
  </div>
</body>
<script src="static/script.js"></script>
</html>
